<table>
	<tr>
		<td>Nibsa Contreras Martínez  /  Ariel Salazar Alvarado</td>
	</tr>
	<tr>
		<td>E-mail:  hostalextraño@hostales.com</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-phone"></span> Teléfono: +56922456784</td>
	</tr>
	<tr>
		<td>&copy; Todos los derechos reservados</td>
	</tr>
</table>