<div class="container-fluid">
		<div class="page-header">
			<nav class="nav navbar-default navbar-static-top">
			<ul class="nav navbar-nav">
				<li><a href="/">Inicio</a></li>
				<li><a href="/about">Quiénes Somos</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right" style="padding-right:10px;">
				<li><a style="color:#73696d;"><small>¿No estás registado? </small></a></li>
				<li><a href="/registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
			</ul>
				
			</nav>
		</div>
</div>

