<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="language" content="ES">
<title>Hostal Tierras Extrañas</title>
<link rel = "icon" href= "Img/floral.png">
<link rel="stylesheet" href="Css/estilos.css"/>
<script src="Js/codigo.js"></script>