<div class="container-fluid">
		<div class="page-header">
			<nav class="nav navbar-default navbar-static-top">
			<ul class="nav navbar-nav">
				<li><a href="/nosotros">Quiénes Somos</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/buscar">Buscar Vivienda</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/ofrecerVivienda">Ofrecer Vivienda</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/perfil">Mi Cuenta</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="padding-right:10px;">
			<li>
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#miModal">
				<span class="glyphicon glyphicon-log-out"></span> Salir
			</button>
			</li>
			</ul>
				
			</nav>
		</div>
</div>

<div class="modal fade" id="miModal" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">SALIENDO...</h4>
		</div>
		<div class="modal-body">
		  <p>¿Está seguro que desea salir?</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location = '/'">Sí</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		</div>
	  </div>
	</div>
</div>
<script>
function lanzarModal()
{	
	$("#miModal").modal();
	return false;
}
</script>