<h3>Viviendas Disponibles</h3>
<% casas.forEach(function(datos){
%>
<div class="col-sm-4"> 
  <div class="panel panel-success"> 
    <div class="panel-heading"> <%= datos.name %></div> 
    <div class="panel-body"><img src=<%= dog.img %> class="img-responsive" style="width:100%; height:150px" alt="Image"></div> 
    <div class="panel-footer"> 
		<p>Edad:  <%= dog.age %></p>
		<p>Tamaño: <%= dog.size %></p>
		<p>Raza:  <%= dog.breed %></p>
		<p>Sexo:  <%= dog.sex  %></p>
		<input type="submit" class="btn btn-default" value="Adóptame!" data-toggle="modal" data-target="#myModal" >
	</div> 
  </div> 
</div>
<% }); %>
<% if( dogs.length == 0 ){%>
	<h4>Lo sentimos, no hay ningún perro con esas características, intenta ampliando la búsqueda</h4>
<%}%>

<div class="col-sm-12"> 
<!--Pager -->
<% if (pageCount > 1) { %>
	<ul class="pagination">
		<% var i = 0;
			for( i = 0; i < pageCount; i++ ){ %>
			<li <%= i == currentPage ? "class=active" : "" %> >
				<a href="/dogsInAdoption?size=<%= content[0] %>&breed=<%= content[1] %>&sex=<%= content[2] %>&page=<%= i + 1 %>">
					<%= i + 1 %>
				</a>
			</li>
		<%}%>
	</ul>
<% } %>
</div>