<br>
<div class="panel panel-default">
	<div class="panel-heading"style="background-color: #80C18F;"><h2>Consultar por hospedería</h2></div>
		<div class="panel-body">
			<form id="form" method="GET">
				<div class="form-group">
					<label for="descripcion">Descripción:</label>
					<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="..." required>
				</div>
				<div class="form-group">
					<label for="email">E-mail:</label>
					<input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su e-mail..." required >
				</div>
				<div class="form-group">
					<label for="fono">Teléfono:</label>
					<input type="text" class="form-control" id="fono" name="fono" placeholder="Ingrese número telefónico..." required >
				</div>		
				<div class="form-group">
					<label for="dias">Días de hospedaje:</label>
					<input type="number" class="form-control" id="dias" name="dias" min=1 placeholder="Ingrese los días que necesita hospedarse..." required >
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" id="ok" value="Enviar Solicitud">
				</div>
			</form>
		</div>
</div>
	
<div class="modal fade" id="miModal" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">¡Solicitud enviada!</h4>
		</div>
		<div class="modal-body">
		  <p>El dueño del hospedaje se pondrá en contacto con usted, gracias por comunicarse.</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location = '/'">Ok</button>
		</div>
	  </div>
	</div>
</div>
<script>
function lanzarModal()
{	
	$("#miModal").modal();
	return false;
}
</script>