<div class="panel panel-danger">
	<div class="panel-heading">
	ERROR
	</div>
	<div class="panel-body">
		<p>
		La contraseña o el usuario son incorrectos, por favor ingrese nuevamente
		</p>
	</div>
	<div class="panel-footer">
	<button onclick="window.location = '/'">Volver</button>
	</div>
</div>