<div class="panel panel-success">
	<div class="panel-heading">
	FELICIDADES
	</div>
	<div class="panel-body">
		<p>
		Le agradecemos que se haya registrado en nuestra página, ya puede disfrutar de nuestros servicios.
		</p>
	</div>
	<div class="panel-footer">
	<button onclick="window.location = '/'">Volver</button>
	</div>
</div>