<div class="panel panel-danger">
	<div class="panel-heading">
	ERROR
	</div>
	<div class="panel-body">
		<p>
		Este usuario ya esta registrado en esta página.
		</p>
	</div>
	<div class="panel-footer">
	<button onclick="window.location = '/registro'">Volver</button>
	</div>
</div>