
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #80C18F;"><h1 id="TituloLogin">Ingresar</h1></div>
		<div class="panel-body">
			<form id="form" method="POST">
				<div class="form-group">
					<label for="rut">Rut:</label>
					<input type="text" class="form-control" name="rut" id="rut" placeholder="Ingrese su rut aquí..." required>
				</div>
				<div class="form-group">
					<label for="pass">Contraseña:</label>
					<input type="password" class="form-control" name="pass" id="pass" placeholder="Ingrese su contraseña..." required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default"  id="ok" value="Entrar">
				</div>
			</form>
		</div>
</div>

