<div class="panel panel-default">
<div class="panel-heading">
	<h1>Mi Perfil</h1>
	</div>
<table class="table table-hover">
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
		<th>Región</th>
		<th>E-mail</th>
		<th>Teléfono</th>
    </tr> 
    <% arreglo.forEach(function(usu) { %>  
    <tr>
        <td><%= usu.Nombre %></td>
        <td><%= usu.Direccion %></td>
		<td><%= usu.Region %></td>
		<td><%= usu.Email %></td>
		<td><%= usu.Telefono %></td>
    </tr>
    <%});%>
</table>
</div>