<div class="panel panel-info">
	<div class="panel-heading">
	<h1>Bienvenidos</h1>
	</div>
	<div class="panel-body">
		<p>
		Nuestra función en esta página es otorgar la oportunidad a los viajeros de compartir un experiencia única con personas que 
		prestan sus hogares voluntariamente y puedan convivir juntos a cambio de un acuerdo que puedan llegar entre ellos. También invitamos a la gente a sumarse a este evento único en su ambito
		y poder conocer a más personas y experiencias que puede obtener al ofrecer su vivienda a trotamundos de varias partes, inscribase y sea un viajero, un hospedador o ser ambos.
		</p>
	</div>
</div>

