<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #80C18F;"><h1>Datos de su vivienda</h1></div>
		<div class="panel-body">
			<form id="form" method="GET">
			<div class="form-group"> 
					<label id="img">Imagen de Sector de Descanso:</label>
					<br>
					<br>
					<img id="preview" alt="foto" src="http://www.mapadapraia.com.br/assets/img/icons/icones/50x50xcasamapa.png.pagespeed.ic.HGVzO7bBB7.png" height="180" width="250" /> 
					<br>
					<br>
					<input type="file" name="img" onchange="previewImage(this)" accept="image/*"/> 
				</div> 
				<div class="form-group">
					<label for="direccion">Dirección:</label>
					<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese su dirección aquí..." required>
				</div>
				<div class="form-group">
					<label for="sector">Sector de Descanso:</label>
					<input type="text" class="form-control" id="sector" name="sector" placeholder="Ingrese el lugar de su casa para hospedaje..." required >
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" id="ok" value="Ingresar datos">
				</div>
			</form>
		</div>
</div>
