
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #80C18F;"><h1>Registrarse</h1></div>
		<div class="panel-body">
			<form id="form" method="post">
				<div class="form-group">
					<label for="nombre">Nombre:</label>
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre aquí..." required>
				</div>
				<div class="form-group">
					<label for="direccion">Dirección:</label>
					<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese su dirección aquí..." required>
				</div>
				<div class="form-group">
					<label for="rut">Rut:</label>
					<input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese su rut..." required >
				</div>
				<div class="form-group">
					<label for="region">Región:</label>
					<input type="text" class="form-control" id="region" name="region" placeholder="Ingrese donde vive..." required >
				</div>		
				<div class="form-group">
					<label for="email">E-mail:</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo..." required >
				</div>
				<div class="form-group">
					<label for="telefono">Teléfono:</label>
					<input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su número telefónico..." required >
				</div>				
				<div class="form-group">
					<label for="contrasena">Contraseña:</label>
					<input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña de usuario..." required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" id="ok" value="Ingresar datos">
				</div>
			</form>
		</div>
</div>
	
<div class="modal fade" id="miModal" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">¡Gracias!</h4>
		</div>
		<div class="modal-body">
		  <p>Le agradecemos que se haya registrado en nuestra página, ya puede disfrutar de nuestros servicios.</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location = '/'">Ok</button>
		</div>
	  </div>
	</div>
</div>
<script>
function lanzarModal()
{	
	$("#miModal").modal();
	return false;
}
</script>