.panel-default{
	opacity: 0.8;
	color: black;
}

.nav.navbar-default.navbar-static-top{
	background-color: #242629;
	opacity: 0.8;
	font-family: Calibri;
}

body {
    font-size: 1.7rem;
}

body {
	background-image: url("../Img/fondo.jpg");
    background-color: #242629;
    color: #6a6c6e;
    font-family: Baskerville Old Face;
    font-size: 1.7rem;
    line-height: 1.62;
}

footer{
	width: 100%;
	padding: 15px;
    color: gray;
	background-color: black;
}

.table.table-hover{
	background-color:white;
}

.panel.panel-default{
	margin: auto;
	text-align: center;
	width: 50%;
}

.panel.panel-info{
	margin: auto;
	text-align: center;
	width: 50%;
}


