<!DOCTYPE html>
<html>
	<head>
		<% include ../Partials/head %>
	</head>
	<body  class="container-fluid">
		<header>
			<% include ../Partials/headerUsuario %>
		</header>
		<br>
		<br>
		<div class="row content">
			<article class="col-sm-3 sidenav">
				
			</article>
			<center>
			<article class="col-sm-6 sidenav">
			<% include ../Content/buscarVivienda %>
			</article>
			</center>
		</div>
		<footer>
            <% include ../partials/footer %>
        </footer>
	</body>
</html>