<!DOCTYPE html>
<html>
	<head>
		<% include ../Partials/head %>
	</head>
	<body  class="container-fluid">
		<header>
			<% include ../Partials/headerUsuario %>
		</header>
		<br>
		<br>
		
			<article>
				<% include ../Content/nosotrosPanel %>
			</article>
		
		<br>
		<br>
		<footer>
			<% include ../Partials/footer %>
		</footer>
	</body>
</html>