<!DOCTYPE html>
<html>
	<head>
		<% include ../Partials/head %>
	</head>
	<body  class="container-fluid">
		<header>
			<% include ../Partials/headerUsuario %>
		</header>
		<br>
		<br>
			<article>
				<% include ../Content/miPerfil %>
			</article>
		<br>
		<br>
		<footer>
            <% include ../partials/footer %>
        </footer>
	</body>
</html>